.search-form mat-form-field {
    width: 100%;
}
:host ::ng-deep .search-form .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}
.search-form .search-icon {
    padding-right: 5px;
}
.search-form .search-input {
    transform: translateY(-2px);
}