.search-form mat-form-field {
  width: 100%;
}
:host ::ng-deep .search-form .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.search-form .search-icon {
  padding: 0 5px 0 10px;
}
.search-form .search-input {
  transform: translateY(-2px);
}
