<mat-card>
    <a href="/shader/{{ id }}">
        <img 
            class="shader-preview"
            src="{{ previewImg }}"
            mat-card-image 
            #shaderPreview 
            alt="Shader Preview">
    </a>
    <mat-card-content>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>{{ user }}</mat-card-subtitle>
        <div class="like-btn">
            <span>{{ likeCount }}</span>
            <button *ngIf="like; else notLiked" mat-icon-button color="warn" aria-label="Like button" (click)="like=false">
                <mat-icon>favorite</mat-icon>
            </button>
            <ng-template #notLiked>
                <button mat-icon-button aria-label="Like button" (click)="like=true">
                    <mat-icon>favorite_border</mat-icon>
                </button>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>
