mat-card {
  overflow: hidden;
}
mat-card-title {
  font-size: 18px;
  line-height: 20px;
}
.shader-preview,
.shader-preview img {
  width: 100%;
  aspect-ratio: 16/9;
}
.like-btn {
  display: flex;
  align-items: center;
  transform: translate(12px, -2px);
}
.like-btn span {
  transform: translateX(4px);
}
.title-like-wrapper {
  display: flex;
  align-items: start;
}
.shader-info {
  padding-top: 12px;
  flex-grow: 1;
}
