<h1 mat-dialog-title>Delete Buffer</h1>
<div mat-dialog-content>
  <p>The following buffer will be deleted:</p>

  <mat-tab-group
    mat-align-tabs="start"
    mat-stretch-tabs="false"
    [selectedIndex]="bufferKeys.indexOf(data.bufferIndex)"
  >
    <mat-tab *ngFor="let buffer of bufferKeys" disabled>
      <ng-template mat-tab-label>
        <div [class]="buffer == data.bufferIndex ? 'warn' : ''" class="editor-tab">
          <mat-icon>filter_none</mat-icon>
          <span>Buffer {{ buffer }}</span>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="spacer"></div>
  <p>
    Please make sure you have referenced the correct buffers in your code after proceeding with
    these changes.
  </p>
</div>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button color="warn" [mat-dialog-close]="data" cdkFocusInitial>Delete</button>
</mat-dialog-actions>
