.editor-tab {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 100%;
}
:host ::ng-deep .mat-mdc-tab-body-wrapper {
  display: none !important;
}
:host ::ng-deep .mdc-tab {
  padding: 0 16px !important;
  opacity: 1;
}
.warn {
  color: var(--color-warn);
}
:host ::ng-deep .mdc-tab-indicator__content {
  color: var(--color-warn);
}
.spacer {
  height: 24px;
}
.tab-old-content {
  text-decoration: line-through;
}
.tab-new-content {
  color: var(--color-black);
}
