<div class="wrapper">
  <mat-card appearance="outlined" *ngIf="token; else requestToken">
    <form
      [formGroup]="resetPasswordForm"
      class="login-form"
      (ngSubmit)="onResetPassword(resetPasswordForm)"
    >
      <h1>ASE</h1>
      <span>The Art of Shaders for Everyone</span>
      <mat-form-field>
        <mat-label>new password</mat-label>
        <input matInput type="password" formControlName="password" minlength="8" ngModel required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>confirm new password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          minlength="8"
          [errorStateMatcher]="passwordErrorMatcher"
          ngModel
          required
        />
        <mat-error *ngIf="resetPasswordForm.hasError('notSame')">
          Password does not match
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Reset Password</button>
    </form>
  </mat-card>
  <ng-template #requestToken>
    <mat-card appearance="outlined">
      <form
        class="login-form"
        #requestTokenForm="ngForm"
        (ngSubmit)="onRequestToken(requestTokenForm)"
      >
        <h1>ASE</h1>
        <span>The Art of Shaders for Everyone</span>
        <mat-form-field>
          <mat-label>email</mat-label>
          <input matInput type="email" name="email" email ngModel required />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Reset Password</button>
        <div class="form-links">
          <a routerLink="/login">Back to login</a>
        </div>
      </form>
    </mat-card>
  </ng-template>
</div>
