<app-search-bar *ngIf="showSearchbar"></app-search-bar>
<div class="searchbar-padding"></div>
<div class="shader-list">
  <app-shader-list-item
    *ngFor="let s of shaders"
    [id]="getId(s)"
    [title]="getTitle(s)"
    [userName]="getUsername(s)"
    [previewImg]="getPreviewImg(s)"
    [likes]="getLikeCount(s.id)"
    [userHasLiked]="getUserHasLikedShader(s.id)"
  >
  </app-shader-list-item>

  <div *ngIf="loading" class="loader">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
