<h2 mat-dialog-title>Create shader</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Shader Title</mat-label>
    <input
      matInput
      [(ngModel)]="data"
      (keydown)="onInputChange($event, titleInput.value.length)"
      #titleInput
    />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCancelClick()">Cancel</button>

  <button
    *ngIf="data.length >= 3; else createDisabled"
    mat-button
    color="primary"
    [mat-dialog-close]="data"
  >
    Create
  </button>

  <ng-template #createDisabled>
    <button mat-button disabled>Create</button>
  </ng-template>
</mat-dialog-actions>
