/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --color-primary: #3F51B5;
    --color-warn: #F44336;
    --color-black: rgba(0,0,0,.87);

    --shadow: 0 2px 1px -1px #0003,0 1px 1px #00000024,0 1px 3px #0000001f;

    --content-height: calc(100vh - 115px);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar {
    background: var(--color-warn);
}
.snackbar span {
    color: #fff;
    font-weight: 400;
}

/* Scrollbar */

*::-webkit-scrollbar {
    width: 8px;
}
@media (max-width: 720px) {
    *::-webkit-scrollbar {
        width: 4px;
    }
}

*::-webkit-scrollbar-track {
    background: #ECEDF1;
}

*::-webkit-scrollbar-thumb {
    background: #BCBDC1;
}
*::-webkit-scrollbar-thumb:hover {
    background: #ACADB1;
}
* {
    scrollbar-color: #BCBDC1 #ECEDF1;
    scrollbar-width: thin;
}
