/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --color-primary: #3f51b5;
  --color-warn: #f44336;
  --color-black: rgba(0, 0, 0, 0.87);
  --color-editor: #fff;

  --shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;

  --content-height: calc(100vh - 115px);
}

body.dark {
  --color-black: #fff;
  --color-primary: #2489d4;
  --color-editor: #1e1e1e;
}

/* html, body { height: 100%; } */
html,
body,
app-root > body {
  min-height: 100vh;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
  --mdc-snackbar-container-color: var(--color-warn) !important;
}
.snackbar-error * {
  color: #fff !important;
}

/* Scrollbar */

*::-webkit-scrollbar {
  width: 8px;
}
@media (max-width: 720px) {
  *::-webkit-scrollbar {
    width: 4px;
  }
}

*::-webkit-scrollbar-track {
  background: #ecedf1;
}

*::-webkit-scrollbar-thumb {
  background: #bcbdc1;
}
*::-webkit-scrollbar-thumb:hover {
  background: #acadb1;
}
* {
  scrollbar-color: #bcbdc1 #ecedf1;
  scrollbar-width: thin;
}
