<div class="editor-container">
  <div
    style="visibility: hidden; position: fixed"
    [style.left.px]="menuTopLeftPosition.x"
    [style.top.px]="menuTopLeftPosition.y"
    [matMenuTriggerFor]="rightMenu"
  ></div>
  <mat-tab-group
    mat-align-tabs="start"
    mat-stretch-tabs="false"
    (selectedTabChange)="onTabChanged($event)"
    #tabGroup
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="editor-tab">
          <mat-icon>collections</mat-icon>
          <span>Main</span>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab *ngFor="let buffer of bufferKeys">
      <ng-template mat-tab-label>
        <div class="editor-tab" (contextmenu)="onBufferContextmenu($event, buffer)">
          <mat-icon>filter_none</mat-icon>
          <span>Buffer {{ buffer }}</span>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab disabled *ngIf="shaderSource.buffers.size < 4 && !readOnly">
      <ng-template mat-tab-label>
        <div class="editor-tab">
          <button
            mat-icon-button
            (click)="onAddBuffer(tabGroup)"
            style="transform: translateX(-16px)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <ngx-monaco-editor
    class="editor"
    [options]="editorOptions"
    [(ngModel)]="code"
    (ngModelChange)="ngModelChanged($event)"
  ></ngx-monaco-editor>

  <!--  <div class="mobile-scroll"></div>-->

  <div *ngIf="loading" class="loader">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-buffer="buffer">
    <button mat-menu-item class="menu-warn" (click)="onBufferDelete(buffer, tabGroup)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
