<div class="editor-container">
  <div
    style="visibility: hidden; position: fixed"
    [style.left.px]="menuTopLeftPosition.x"
    [style.top.px]="menuTopLeftPosition.y"
    [matMenuTriggerFor]="rightMenu"
  ></div>
  <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">collections</mat-icon>
        <span>Main</span>
      </ng-template>
    </mat-tab>
    <mat-tab *ngFor="let buffer of bufferCode; let i = index">
      <ng-template mat-tab-label>
        <div class="mat-tab-label-content" (contextmenu)="onBufferContextmenu($event, i)">
          <mat-icon class="example-tab-icon">filter_none</mat-icon>
          <span>Buffer {{ i + 1 }}</span>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab disabled *ngIf="bufferCode.length < 4 && !readOnly">
      <ng-template mat-tab-label>
        <button mat-icon-button (click)="onAddBuffer()" style="transform: translateX(-16px)">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <ngx-monaco-editor
    class="editor"
    [options]="editorOptions"
    [(ngModel)]="code"
    (ngModelChange)="ngModelChanged($event)"
  ></ngx-monaco-editor>

  <!--  <div class="mobile-scroll"></div>-->

  <div *ngIf="loading" class="loader">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item class="menu-warn">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
